//- normalize style 
link(rel="stylesheet" href="css/normalize.css")

//- bankist style (main file)
link(rel="stylesheet" href="css/Bankist.css")

//- for icon beside title 
link(rel="shourtcut icon" href="images/icon.png")